footer.footer
	.grid-container
		.footer__inner
			.grid-x.grid-padding-x
				.cell.middle-12.medium-4.large-3
					.logo.logo--footer
						a.logo__link.logo__link--footer(href="")
							img(src="./images/logo.png" alt="")
						p.logo__text
							| It was some time before he obtained any answer, and the reply, when made, was unpropitious.
					.social-icons
						a.social-icons__item(href="")
							i.icon.icon--twitter
								+svg("twitter")
						a.social-icons__item(href="")
							i.icon.icon--facebook-f
								+svg("facebook-f")
						a.social-icons__item(href="")
							i.icon.icon--linkedin-in
								+svg("linkedin-in")
				.cell.small-12.middle-4.medium-2.medium-offset-2.large-offset-3
					nav.nav
						h4.nav__title
							| Learn More
						ul.nav__list
							li.nav__item
								a.nav__link(href="")
									| How it works?
							li.nav__item
								a.nav__link(href="")
									| Meeting tools
							li.nav__item
								a.nav__link(href="")
									| Live striming
							li.nav__item
								a.nav__link(href="")
									| Contat method
				.cell.small-12.middle-4.medium-2
					nav.nav
						h4.nav__title
							| About Us
						ul.nav__list
							li.nav__item
								a.nav__link(href="")
									| About us
							li.nav__item
								a.nav__link(href="")
									| Features
							li.nav__item
								a.nav__link(href="")
									| Privacy police
							li.nav__item
								a.nav__link(href="")
									| Terms & Conditions
				.cell.small-12.middle-4.medium-2
					nav.nav
						h4.nav__title
							| Support
						ul.nav__list
							li.nav__item
								a.nav__link(href="")
									| F.A.Q.
							li.nav__item
								a.nav__link(href="")
									| Contact us
							li.nav__item
								a.nav__link(href="")
									| Live chat
							li.nav__item
								a.nav__link(href="")
									| Phone call