header.header.js-header
	.grid-container
		.header__inner
			.header__hamburger
				button.hamburger.hamburger--spin.js-hamburger-menu(type='button' aria-label='Menu' aria-controls='navigation')
					span.hamburger-box
						span.hamburger-inner
			.header__menu.is-left
				nav.horizontal-menu
					ul.horizontal-menu__list
						li.horizontal-menu__item
							a.horizontal-menu__link(href="")
								| Tour
						li.horizontal-menu__item
							a.horizontal-menu__link(href="")
								| Features
						li.horizontal-menu__item
							a.horizontal-menu__link(href="")
								| Pricing
			.header__logo
				.logo
					a.logo__link(href="")
						img(src="./images/logo.png" alt="")
			.header__menu.is-right
				nav.horizontal-menu
					ul.horizontal-menu__list
						li.horizontal-menu__item
							a.horizontal-menu__link.is-grey(href="")
								| Help
						li.horizontal-menu__item
							a.horizontal-menu__link(href="")
								| Contacts
						li.horizontal-menu__item
							a.btn.btn--primary.btn--left-icon(href="")
								i.icon.icon--apple
									+svg("apple")
								| Get App
	#navigation.header__dropdown-nav.js-mobile-nav
		.grid-container
			.header__tablet-nav
				.grid-x.grid-padding-x
					.cell.small-12.medium-4
						nav.nav
							h4.nav__title
								| Learn More
							ul.nav__list
								li.nav__item
									a.nav__link(href="")
										| How it works?
								li.nav__item
									a.nav__link(href="")
										| Meeting tools
								li.nav__item
									a.nav__link(href="")
										| Live striming
								li.nav__item
									a.nav__link(href="")
										| Contat method
					.cell.small-12.medium-4
						nav.nav
							h4.nav__title
								| About Us
							ul.nav__list
								li.nav__item
									a.nav__link(href="")
										| About us
								li.nav__item
									a.nav__link(href="")
										| Features
								li.nav__item
									a.nav__link(href="")
										| Privacy police
								li.nav__item
									a.nav__link(href="")
										| Terms & Conditions
					.cell.small-12.medium-4
						nav.nav
							h4.nav__title
								| Support
							ul.nav__list
								li.nav__item
									a.nav__link(href="")
										| F.A.Q.
								li.nav__item
									a.nav__link(href="")
										| Contact us
								li.nav__item
									a.nav__link(href="")
										| Live chat
								li.nav__item
									a.nav__link(href="")
										| Phone call
			.header__mobile-nav
				nav.mobile-nav
					ul.mobile-nav__list
						li.mobile-nav__item
							a.mobile-nav__link(href="")
								| Tour
						li.mobile-nav__item
							a.mobile-nav__link(href="")
								| Features
						li.mobile-nav__item
							a.mobile-nav__link(href="")
								| Pricing
						li.mobile-nav__item
							a.mobile-nav__link(href="")
								| Help
						li.mobile-nav__item
							a.mobile-nav__link(href="")
								| Contacts
						li.mobile-nav__item
							a.btn.btn--primary.btn--left-icon(href="")
								i.icon.icon--apple
									+svg("apple")
								| Get App