$footer-border-color: rgba(#26292c, .05);

.footer {
	&__inner {
		padding: 101px 0;
		margin: 0 -15px;
		border-top: 1px solid $footer-border-color;

		@media (max-width: 991px) {
			margin: 0;
		}

		@media (max-width: 768px) {
			padding: 30px 0;
			border: none;
		}
	}
}