.header {
	position: fixed;
	top: 0; left: 0; right: 0;
	width: 100%;
	padding: 44px 0 40px;
	background-color: transparent;
	box-shadow: 0 0 0 rgba($color-black-russian, .2);
	transition-property: background-color, box-shadow, padding-top;
	transition-duration: 200ms;
	transition-timing-function: linear;
	z-index: 600;

	@media (max-width: 768px) {
		padding: 24px 0 20px;
	}

	&.is-active {
		padding: 34px 0;
		background-color: $color-solitude;
		box-shadow: 0 2px 5px rgba($color-black-russian, .2);

		@media (max-width: 768px) {
			padding: 14px 0 20px;
		}
	}

	&.is-mobile-opened {
		background-color: $color-solitude;
	}

	&__inner {
		display: flex;
		align-items: center;
	}

	&__hamburger {
		margin-right: 30px;

		button:focus {
			outline: none;
		}
	}

	&__logo {
		margin: 0 auto;
	}

	&__menu {
		@media (max-width: 768px) {
			display: none;
		}
	}

	&__dropdown-nav {
		position: absolute;
		top: 0; left: 0; right: 0;
		width: 100%;
		padding: 34px 0;
		background-color: $color-solitude;
		box-shadow: 0 0 0 rgba($color-black-russian, .2);
		transform: translateY(-100%);
		z-index: 700;
		opacity: 0;
		transition: opacity 200ms linear;

		&.is-active {
			top: 100%;
			opacity: 1;
			transform: translateY(0);
			box-shadow: 0 2px 2px rgba($color-black-russian, .2);
		}
	}

	&__tablet-nav {
		padding: 0 40px;

		@media (max-width: 768px) {
			display: none;
		}
	}

	&__mobile-nav {
		display: none;

		@media (max-width: 768px) {
			display: block;
		}
	}
}