.section {
	&--features {
		padding: 120px 0;

		@media (max-width: 1600px) {
			padding-top: 92px;
		}
		
		@media (max-width: 768px) {
			padding: 40px 0;
		}
	}
	
	&--phone-feature {
		padding: 18px 0 36px;
		
		@media (max-width: 768px) {
			padding: 20px 0;
		}
	}

	&--screens {
		padding: 90px 0 26px;
		background: $color-solitude;
		
		@media (max-width: 768px) {
			padding: 40px 0 0;
		}
	}

	&--invite {
		padding: 70px 0 130px;
		background: $color-solitude;
		
		@media (max-width: 768px) {
			padding: 40px 0;
		}
	}

	&--testimonials {
		padding: 113px 0 82px;
		
		@media (max-width: 768px) {
			padding: 40px 0;
		}
	}

	&__header {
		text-align: center;
	}

	&__title {
		margin: 0 0 36px;
		font-size: 42px;
		font-weight: 500;
		line-height: 52px;
		color: $color-black-russian;
	}

	&__subtitle {
		margin: 0 0 30px;
		font-size: 12px;
		line-height: 22px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: $color-grey;
	}

	&__divider {
		margin: 0 auto 38px;
		width: 50px;
		height: 2px;
		border-radius: 1px;
		background-color: #267df4;
	}
}