.btn {
	display: flex;
	position: relative;
	overflow: hidden;
	align-items: center;
	max-height: 42px;
	min-width: 132px;
	padding: 11px 24px;
	border: 0;
	background: $color-white;
	border-radius: 21px;
	outline: none;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	color: #ffffff;
	z-index: 1;

	&:before {
		content: '';
		z-index: -1;
		position: absolute;
		top: 50%;
		left: 0%;
		margin: -15px 0 0 -30px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: $color-solitude;
		transform-origin: 0% 50%;
		transform: scale3d(1, 2, 1);
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: cubic-bezier(0.7,0,0.9,1);
	}

	&:hover:before {
		transform: scale3d(9, 9, 1);
	}

	i {
		margin-right: 15px;
	}

	&--left-icon {
		padding-left: 17px;
		i {
			margin: 0 14px 0 0;
		}
	}

	&--right-icon {
		padding-right: 17px;
		i {
			margin: 0 0 0 14px;
		}
	}

	&--primary {
		background-color: $color-dodger-blue;

		&:before {
			background: darken($color-dodger-blue ,5%);
		}
	}

	&--secondary {
		background-color: $color-mantis;

		&:before {
			background: darken($color-mantis ,5%);
		}
	}

	&--third {
		line-height: 18px;
		border: 1px solid rgba($color-black-russian, .1);
		color: $color-black-russian;
	}

	&--large {
		max-height: 50px;
		padding: 15px 42px;
		border-radius: 25px;
	}

	&--wide {
		min-width: 202px;
		
		// Сдвигаем иконку вкрай у широких кнопок
		&.btn--left-icon {
			i {
				margin-right: auto;
			}
		}
	
		&.btn--right-icon {
			i {
				margin-left: auto;
			}
		}
	}
}