.card {
	&__inner {
		display: flex;
		max-width: 1170px;
		margin: 0 auto;
		
		@media (max-width: 991px) {
			flex-direction: column-reverse;
		}
	}

	&__media {
		width: calc(100% - 470px);
		padding-right: 100px;

		@media (max-width: 991px) {
			width: 100%;
		}

		&-img {
			&.is-pull-left {
				margin-left: -360px;

				@media (max-width: 991px) {
					display: block;
					margin-left: 0;
					max-width: 100%;
				}
			}
		}
	}

	&__content {
		width: 470px;
		padding-top: 138px;

		@media (max-width: 991px) {
			width: 100%;
			padding: 0 15px;
			margin-bottom: 40px;
		}
	}

	&__title {
		max-width: 80%;
		margin: 0 0 70px;
		font-size: 42px;
		font-weight: 500;
		line-height: 52px;
		color: $color-black-russian;
	}

	&__body {
		margin: 0 0 70px;
		font-size: 20px;
		line-height: 28px;
		color: $color-grey;

		p {
			margin: 24px 0;
		}
	}

	&__action {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		@media (max-width: 991px) {
			flex-wrap: wrap;
		}

		&-item {
			margin: 0 20px 20px 0;
		}
	}
}