.feature {
	margin-bottom: 40px;

	@media (max-width: 768px) {
		margin-bottom: 20px;
	}

	&__inner {
		padding: 30px 38px 40px;

		@media (max-width: 768px) {
			padding: 20px 0 0;
		}
	}

	&__icon {
		display: flex;
		align-items: flex-end;
		min-height: 52px;
		margin-bottom: 38px;
	}

	&__title {
		margin: 0 0 35px;
		font-size: 26px;
		font-weight: 500;
		line-height: 34px;
		color: $color-black-russian;
	}

	&__body {
		font-size: 18px;
		line-height: 26px;
		color: $color-grey;

		p {
			margin: 24px 0;
		}
	}
}