.hero {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&__inner {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		height: 100vh;
		min-height: 640px;
		max-width: 765px;
		padding-top: 192px;
		margin: 0 auto;
		text-align: center;

		@media (max-width: 768px) {
			height: auto;
		}

		@media (max-width: 640px) {
			padding-top: 100px;
		}
	}

	&__title {
		margin: 0 0 35px;
		font-size: 62px;
		font-weight: 500;
		line-height: 72px;
		color: $color-black-russian;

		@media (max-width: 640px) {
			font-size: 52px;
			line-height: 62px;
		}
	}

	&__body {
		margin: 0 0 58px;
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
		color: $color-grey;

		@media (max-width: 768px) {
			padding: 0 15px;
			margin-bottom: 25px;
		}
	}

	&__action {
		margin: 0 0 50px;
		align-self: center;
	}

	&__media {
		margin-top: auto;
		overflow: hidden;

		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			transform: translateX(6.4%);
		}
	}
}