.horizontal-menu {
	&__list {
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item {
		margin-right: 40px;

		@media (max-width: 991px) {
			margin-right: 25px;
		}
	
		&:last-child {
			margin-right: 0;
		}
		.is-right & {
			margin-right: 30px;

			@media (max-width: 991px) {
				margin-right: 15px;
			}

			&:last-child {
				margin-right: 3px;

				@media (max-width: 991px) {
					margin-right: 0;
				}
			}
		}
	}
	&__link {
		position: relative;
		display: block;
		font-size: 16px;
		text-decoration: none;
		color: $color-black-russian;

		&:after {
			content: '';
			position: absolute;
			bottom: -1px; left: 0;
			width: 0%; height: 1px;
			background: $color-black-russian;
			transition: width 250ms linear;
		}

		&:hover:after {
			width: 100%;
		}
		
		&.is-grey {
			color: rgba($color-black-russian, .4);
		}
	}
}