.icon {
	&--lock {
		svg {
			max-width: 42px;
			max-height: 51px;
		}
	}

	&--clock {
		svg {
			max-width: 37px;
			max-height: 46px;
		}
	}

	&--apple {
		svg {
			max-width: 17px;
			max-height: 20px;
		}
	}

	&--play {
		svg {
			max-width: 10px;
			max-height: 10px;
		}
	}

	&--arrow-right {
		svg {
			max-width: 14px;
			max-height: 12px;
		}
	}

	&--twitter {
		svg {
			max-width: 17px;
			max-height: 14px;
		}
	}

	&--facebook-f {
		svg {
			max-width: 10px;
			max-height: 18px;
		}
	}

	&--linkedin-in {
		svg {
			max-width: 16px;
			max-height: 15px;
		}
	}
}