.invite {
	&__form {
		position: relative;
		max-width: 502px;
		margin: 0 auto;

		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__input {
		width: 100%;
		padding: 14px 200px 14px 25px;
		background: transparent;
		border-radius: 25px;
		border: 1px solid rgba($color-black-russian, .2);
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
		color: $color-blue-zodiac;

		@media (max-width: 768px) {
			max-width: 90%;
			padding: 14px 25px;
			margin: 0 auto 20px;
		}

		&::placeholder {
			color: $color-blue-zodiac;
		}
	}

	&__btn {
		position: absolute;
		right: 5px; top: 4px;
		min-width: 164px;

		@media (max-width: 768px) {
			position: relative;
			right: auto; top: auto;
		}

		i {
			margin-left: auto;
		}
	}
}