.logo {
	display: flex;
	align-items: flex-start;
	padding-top: 6px;

	&--footer {
		flex-direction: column;
		padding-top: 4px;
	}

	&__link {
		&--footer {
			margin-bottom: 27px;
		}
	}

	&__text {
		margin: 0 0 24px;
		font-size: 14px;
		line-height: 24px;
		color: $color-grey;
	}
}