.mobile-nav {
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		border-top: 1px solid rgba($color-black-russian, .4);
		text-align: center;

		&:first-child,
		&:last-child {
			border: none;
		}

		&:last-child {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__link {
		display: block;
		padding: 10px;
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		text-decoration: none;
		color: $color-black-russian;
	}
}