.nav {
	margin-bottom: 25px;
	&__title {
		margin: 0 0 17px;
		font-size: 12px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: $color-black-russian;
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__item {
		margin-bottom: 15px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&__link {
		position: relative;
		display: block;
		font-size: 16px;
		line-height: 21px;
		text-decoration: none;
		color: $color-grey;

		&:after {
			content: '';
			position: absolute;
			bottom: -1px; left: 0;
			width: 0%; height: 1px;
			background: $color-grey;
			transition: width 250ms linear;
		}

		&:hover:after {
			width: 100%;
		}
	}
}