$color-rating-star-on: #f2bc3b;
$color-rating-star-off: #d8d8d8;

.rating {
	display: flex;
	justify-content: center;

	&__item {
		margin-right: 8px;

		&:last-of-type {
			margin-right: 0;
		}

		svg {
			max-width: 24px;
			max-height: 23px;
			fill: $color-rating-star-off;
		}

		&.is-active {
			svg {
				fill: $color-rating-star-on;
			}
		}
	}
}