.social-icons {
	display: flex;
	align-self: center;
	
	@media (max-width: 991px) {
		width: 100%;
		justify-content: space-between;
	}

	@media (max-width: 768px) {
		margin-bottom: 30px;
	}

	@media (max-width: 640px) {
		justify-content: flex-start;
	}

	&__item {
		margin-right: 28px;

		&:last-of-type {
			margin-right: 0;
		}

		svg {
			fill: rgba(#26272d, .3);
			transition: all 300ms linear;
		}

		&:hover svg {
			fill: rgba(#26272d, .5);
		}
	}
}