.testimonials {
	&__inner {
		max-width: 600px;
		margin: 0 auto;
	}

	&__controls {
		position: relative;
	}

	&__item {
		&-inner {
			max-width: 560px;
			margin: 0 auto;
			text-align: center;
		}
	}

	&__avatar {}

	&__subject {
		margin: 0 0 40px;
		font-size: 32px;
		font-weight: 400;
		line-height: 38px;
		color: $color-black-russian;
	}

	&__body {
		margin: 0 0 26px;
		font-size: 20px;
		line-height: 28px;
		color: $color-grey;
	}

	&__rating {
		margin-bottom: 60px;
	}

	&__author {
		font-size: 12px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: $color-black-russian;
	}
}