extends pug/base

append vars
	-
		var title = 'Main page';
		var description = 'Main page';
		var image = './images/logo.png';

block content
	//- HERO
	section.hero(style="background-image:url('./images/hero/bg.jpg');")
		.hero__inner
			h1.hero__title
				| What happens tomorrow?
			p.hero__body
				| The sight of&nbsp;the tumblers restored Bob Sawyer to&nbsp;a&nbsp;degree of&nbsp;equanimity which he&nbsp;had not possessed since his interview with his landlady. His face brightened&nbsp;up, and he&nbsp;began to&nbsp;feel quite convivial.
			.hero__action
				button.btn.btn--third.btn--large.js-modal-video(type="button")
					i.icon.icon--play
						+svg("play")
					| Watch Video
			.hero__media
				img(src="images/hero/iphone-6.png" alt="")
	//- FEATURES
	.section.section--features
		.grid-container
			.grid-x.grid-padding-x
					.cell.small-12.medium-6
						article.feature
							.feature__inner
								.feature__icon
									i.icon.icon--lock
										+svg("lock")
								h3.feature__title
									| Real-time all the time
								.feature__body
									p
										| Thus much&nbsp;I thought proper to&nbsp;tell you in&nbsp;relation to&nbsp;yourself, and to&nbsp;the trust&nbsp;I reposed in&nbsp;you.
									p
										| Just then her head struck against the roof of&nbsp;the hall: in&nbsp;fact she was now more than nine feet high, and she at&nbsp;once took up&nbsp;the little golden key and hurried off to&nbsp;the garden door.
					.cell.small-12.medium-6
						article.feature
							.feature__inner
								.feature__icon
									i.icon.icon--clock
										+svg("clock")
								h3.feature__title
									| Adopt without any obstacles
								.feature__body
									p
										| This sounded a&nbsp;very good reason, and Alice was quite pleased to&nbsp;know&nbsp;it. &rsquo;I never thought of&nbsp;that before!&rsquo; she said.
									p
										| This I&nbsp;have produced as&nbsp;a&nbsp;scantling of&nbsp;Jack&rsquo;s great eloquence and the force of&nbsp;his reasoning upon such abstruse matters.
	//- iPHONE FEATURE
	.section.section--phone-feature
		.card
			.card__inner
				.card__media
					img.card__media-img.is-pull-left(src="./images/feature/iphone-6.png" alt="")
				.card__content
					h3.card__title
						| Your day is&nbsp;protected
					.card__body
						p
							| There have not been any since we&nbsp;have lived here, said my&nbsp;mother.
						p
							| We&nbsp;thought&nbsp;&mdash; Mr. Copperfield thought&nbsp;&mdash; it&nbsp;was quite a&nbsp;large rookery; but the nests were very old ones, and the birds have deserted them a&nbsp;long while.
					.card__action
						.card__action-item
							a.btn.btn--primary.btn--right-icon.btn--wide(href="")
								| Try to hack us
								i.icon.icon--arrow-right
									+svg("arrow-right")
						.card__action-item
							a.btn.btn--third(href="")
								| Learn more
	//- SCREENS
	section.section.section--screens
		.section__header
			h2.section__title
				| Beautiful Interface
			.section__divider
			p.section__subtitle
				| Landing Screen
			.screens(style="background-image: url('./images/screens/bg.png');")
	//- INVITE
	section.section.section--invite
		.section__header
			.section__subtitle
				| NewProvidence
			h2.section__title
				| Get it to your smartphone 
		.grid-container
			.invite
				form.invite__form
					input.invite__input(type="email" placeholder="denis@getcraftwork.com" required)
					button.invite__btn.btn.btn--secondary.btn--right-icon(type="submit")
						| Send Invite
						i.icon.icon--arrow-right
							+svg("arrow-right")
	//- TESTIMONIALS
	.section.section--testimonials
		.grid-container
			.testimonials
				.testimonials__controls.js-testimonials-slider-controls
				.testimonials__inner.js-testimonials-slider
					//- slider item
					article.testimonials__item.js-testimonials-slider-item(data-thumb="./images/testimonials/t-1.png")
						.testimonials__item-inner
							h4.testimonials__subject
								| New Providence is the great UI kit
							p.testimonials__body
								| &laquo;Just then her head struck against the roof of&nbsp;the hall: in&nbsp;fact she was now more than nine feet high, and she at&nbsp;once took up&nbsp;the little golden key and hurried off to&nbsp;the garden door.&raquo;
							.testimonials__rating
								.rating
									.rating__item.is-active
										+svg("star")
									.rating__item.is-active
										+svg("star")
									.rating__item.is-active
										+svg("star")
									.rating__item.is-active
										+svg("star")
									.rating__item.is-active
										+svg("star")
							.testimonials__author
								| Cameron Dowman
					//- slider item
					article.testimonials__item.js-testimonials-slider-item(data-thumb="./images/testimonials/t-2.png")
						.testimonials__item-inner
							h4.testimonials__subject
								| New Providence is the great UI kit
							p.testimonials__body
								| &laquo;Just then her head struck against the roof of&nbsp;the hall: in&nbsp;fact she was now more than nine feet high, and she at&nbsp;once took up&nbsp;the little golden key and hurried off to&nbsp;the garden door.&raquo;
							.testimonials__rating
								.rating
									.rating__item.is-active
										+svg("star")
									.rating__item.is-active
										+svg("star")
									.rating__item.is-active
										+svg("star")
									.rating__item.is-active
										+svg("star")
									.rating__item
										+svg("star")
							.testimonials__author
								| Cameron Dowman
					//- slider item
					article.testimonials__item.js-testimonials-slider-item(data-thumb="./images/testimonials/t-3.png")
						.testimonials__item-inner
							h4.testimonials__subject
								| New Providence is the great UI kit
							p.testimonials__body
								| &laquo;Just then her head struck against the roof of&nbsp;the hall: in&nbsp;fact she was now more than nine feet high, and she at&nbsp;once took up&nbsp;the little golden key and hurried off to&nbsp;the garden door.&raquo;
							.testimonials__rating
								.rating
									.rating__item.is-active
										+svg("star")
									.rating__item.is-active
										+svg("star")
									.rating__item
										+svg("star")
									.rating__item
										+svg("star")
									.rating__item
										+svg("star")
							.testimonials__author
								| Cameron Dowman
	#modal-iframe(data-izimodal-transitionin="fadeInUp" data-izimodal-title="Vimeo" data-izimodal-iframeURL="https://player.vimeo.com/video/22439234?autoplay=1")