*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	overflow-x: hidden;
	font-family: $font-family-roboto;
}

.well {
	height: 30px;
	margin-bottom: 10px;
	background: grey;
}