$sprites: (
	"arrow-next": (
		normal: (
			x: 87,
			y: 0,
			width: 22,
			height: 41,
			image: "sprites.png",
			total_width: 109,
			total_height: 94,
		),
		retina: (
			x: 174,
			y: 0,
			width: 44,
			height: 82,
			image: "sprites@2x.png",
			total_width: 218,
			total_height: 188,
		),
	),
	"arrow-prev": (
		normal: (
			x: 0,
			y: 53,
			width: 22,
			height: 41,
			image: "sprites.png",
			total_width: 109,
			total_height: 94,
		),
		retina: (
			x: 0,
			y: 106,
			width: 44,
			height: 82,
			image: "sprites@2x.png",
			total_width: 218,
			total_height: 188,
		),
	),
	"clock": (
		normal: (
			x: 44,
			y: 0,
			width: 41,
			height: 47,
			image: "sprites.png",
			total_width: 109,
			total_height: 94,
		),
		retina: (
			x: 88,
			y: 0,
			width: 82,
			height: 94,
			image: "sprites@2x.png",
			total_width: 218,
			total_height: 188,
		),
	),
	"lock": (
		normal: (
			x: 0,
			y: 0,
			width: 42,
			height: 51,
			image: "sprites.png",
			total_width: 109,
			total_height: 94,
		),
		retina: (
			x: 0,
			y: 0,
			width: 84,
			height: 102,
			image: "sprites@2x.png",
			total_width: 218,
			total_height: 188,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
