// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-black-russian: #26272d;
$color-grey: #8c8f94;
$color-solitude: #f5f5f8;
$color-white: #fff;
$color-blue-zodiac: #3a3d4b;
$color-dodger-blue: #267df4;
$color-mantis: #6fc754;


// FONTS

$font-family-roboto: 'Roboto', sans-serif;

// FOUNDATION

$global-width: 1200px;
$grid-column-count: 12;

$breakpoints: (
  small: 0,
  middle: 641px,
  medium: 768px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1600px,
);
$breakpoint-classes: (small middle medium large);